@model IEnumerable<FieldSurvey>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Category List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Fieldsurvey" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New Category
            </a>
        </div>
    </div>
</div>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Tjänst</th>
            <th>Area</th>
            <th>Typ</th>
            <th>Kommentar</th>
            <th>Koordinater</th>
            <th>Bild</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td class="text-center justify-content-center">@obj.Service</td>
                <td class="text-center">@obj.Area</td>
                <td class="text-center">@obj.Category</td>
                <td class="text-center">@obj.Comment</td>
                <td class="text-center">@obj.Latitude, @obj.Longitude</td>
                <td class="text-center"><img src="@obj.Photopath" width=100/></td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Fieldsurvey"><i class="bi bi-pencil-square"></i>Edit</a>
                    </div>
                </td>
            </tr>            
        }
    </tbody>
</table>
